html {
    background-color: var(--color-secondary);
    font-family: "Atkinson Hyperlegible", sans-serif;

    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-primary-button: #e96799;
    --color-secondary-button: #e9f0fc;
    --color-accent: #99e967;

    --color-primary-rgb: 0, 0, 0;
    --color-secondary-rgb: 255, 255, 255;
    --color-primary-button-rgb: 233, 103, 153;
    --color-secondary-button-rgb: 233, 240, 252;
    --color-accent-rgb: 153, 233, 103;
}

html.dark {
    background-color: var(--color-secondary);
    color: var(--color-primary);

    --color-primary: #ffffff;
    --color-secondary: #333333;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* FONTS */

@font-face {
    font-family: "Berkeley Mono";
    src: url("/fonts/BerkeleyMono-Regular.woff2") format("woff2"),
        url("/fonts/BerkeleyMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Berkeley Mono";
    src: url("/fonts/BerkeleyMono-Bold.woff2") format("woff2"),
        url("/fonts/BerkeleyMono-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Berkeley Mono";
    src: url("/fonts/BerkeleyMono-Italic.woff2") format("woff2"),
        url("/fonts/BerkeleyMono-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Berkeley Mono";
    src: url("/fonts/BerkeleyMono-BoldItalic.woff2") format("woff2"),
        url("/fonts/BerkeleyMono-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
