---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        I am working through Astro's introductory tutorial. This is the second
        page on my website, and it's the first one I built myself!
    </p>

    <p>
        This site will update as I complete more of the tutorial, so keep
        checking back and see how my journey is going!
    </p>

    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is Truls Henrik Jakobsen.</li>
        <li>I live in Norway and I work as a Software Engineer.</li>
    </ul>
</BaseLayout>
