---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Kontakt Meg";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Lyst til å ta en prat?</h2>

    <ul>
        <li>
            <a href="mailto:mail@truls.dev">mail@truls.dev</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/trulshj/">LinkedIn</a>
        </li>
    </ul>
</BaseLayout>
