---
import { getCollection } from "astro:content";
import BlogPostLink from "../components/BlogPostLink.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("posts");

const pageTitle = "Truls Henrik";
---

<BaseLayout pageTitle={pageTitle}>
    <h3>Hallaien 👋 Jeg prøver å lage ting :)</h3>

    <h2>Innlegg</h2>

    <ul>
        {
            allPosts.map((post) => (
                <BlogPostLink slug={post.slug} title={post.data.title} />
            ))
        }
    </ul>

    <h2>Videoer</h2>

    <ul>
        <li>
            <a href="https://www.youtube.com/watch?v=qI64KH26kjA"
                ><h3>
                    Tofaktorautentisering, og hvorfor SMS ikke er godt nok
                </h3></a
            >
        </li>
    </ul>
</BaseLayout>
