---
import { getCollection } from "astro:content";
import BlogPostLink from "../components/BlogPostLink.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = (await getCollection("posts")).filter((x) => !x.data.isDraft);

const pageTitle = "Truls Henrik";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Hallaien 👋</h2>

    Her kan du finne greiene mine

    <!-- <h2>Innlegg</h2> -->

    <ul>
        {
            allPosts.map((post) => (
                <BlogPostLink slug={post.slug} title={post.data.title} />
            ))
        }
    </ul>

    <h2>Videoer</h2>

    <ul>
        <li>
            <h3>Why does <span>fetch</span> make you wait twice?</h3>
            <ul>
                <li>
                    <a href="https://www.boosterconf.no/2025/program/wednesday/7_lightning_talks/kongesalen_4/why-does-fetch-make-you-wait-twice/"
                        >Booster 2025</a
                    >
                </li>
                <li>
                    <a
                        href="https://www.youtube.com/watch?v=o3dYQO-04WE&ab_channel=Variant"
                        >Refill 2025</a
                    >
                </li>
            </ul>
        </li>
        <li>
            <h3>2FA, hvorfor SMS ikke er godt nok</h3>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=qI64KH26kjA"
                        >Felles Variantdag 2022</a
                    >
                </li>
            </ul>
        </li>
        <li>
            <h3>Skjema-endringer med lave skuldre</h3>
            <ul>
                <li>
                    <a href="https://youtu.be/gRZKqd8GQuE"> Refill 2024 </a>
                </li>
            </ul>
        </li>
    </ul>
</BaseLayout>
