---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>

  <script>
    function init() {
      document.querySelector(".hamburger")?.addEventListener("click", () => {
        const navLinks = document.querySelector(".nav-links");
        navLinks?.classList.toggle("expanded");
      });
    }

    init();

    document.addEventListener("astro:after-swap", init);
  </script>
</header>
