---
const currentPath = Astro.url.pathname;
---

<div class="nav-links">
    <a href="/" class={currentPath === "/" ? "active" : ""}>Hjem</a>
    <a href="/about" class={currentPath === "/about" ? "active" : ""}>Om meg</a>
    <!-- <a href="/projects">Projects</a> -->
</div>

<style>
    .nav-links {
        font-family: "Berkeley Mono", monospace;
        width: 100%;
        top: 5rem;
        left: 48px;
        display: none;
        margin: 0;
    }

    .nav-links a {
        color: var(--text-color);
        display: block;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        border: var(--border-width) solid var(--text-color);
        background: var(--light);
        margin: 0.5rem;
        position: relative;
        transition: all var(--transition-speed) ease;
    }

    .nav-links a:hover,
    .nav-links a:focus {
        transform: translate(var(--shadow-offset), var(--shadow-offset));
        box-shadow: calc(-1 * var(--shadow-offset))
            calc(-1 * var(--shadow-offset)) 0 var(--shadow-color);
    }

    .nav-links a:active {
        transform: translate(0, 0);
        box-shadow: none;
    }

    /* Active state */
    .nav-links a.active {
        background: var(--red);
        color: var(--light);
        transform: translate(var(--shadow-offset), var(--shadow-offset));
        box-shadow: calc(-1 * var(--shadow-offset))
            calc(-1 * var(--shadow-offset)) 0 var(--shadow-color);
    }

    .expanded.nav-links {
        display: unset;
    }

    @media screen and (min-width: 636px) {
        .nav-links {
            margin-left: 5em;
            display: flex;
            position: static;
            width: auto;
            background: none;
            gap: 1rem;
        }

        .nav-links a {
            display: inline-block;
            padding: 15px 20px;
            margin: 0;
        }
    }
</style>
