---
const { tags } = Astro.props;
---

<div class="tags">
    {
        tags.map((tag: string, idx: number) => (
            <a href={`/tags/${tag}`}>#{tag}</a>
        ))
    }
</div>

<style>
    a {
        color: var(--color-text);
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 0.5em;
    }

    .tag {
        font-size: 1.15em;
    }
</style>
