---
import Tags from "../components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>
        Published on {
            (frontmatter.pubDate as Date).toLocaleDateString("en-US", {
                day: "2-digit",
                month: "long",
                year: "numeric",
            })
        }
    </p>
    <p><em>{frontmatter.description}</em></p>

    <slot />

    <Tags tags={frontmatter.tags} />
</BaseLayout>
