---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <span class="publishingDate">
        Lagt ut {
            (frontmatter.pubDate as Date).toLocaleDateString("nb", {
                day: "2-digit",
                month: "long",
                year: "numeric",
            })
        }
    </span>

    <slot />
</BaseLayout>

<style>
    .publishingDate {
        display: block;
        font-family: "Berkeley Mono", monospace;
    }
</style>
