---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="post-header">
        <h1 transition:name={frontmatter.title}>{frontmatter.title}</h1>
        <span class="publishingDate">
            Lagt ut {
                (frontmatter.pubDate as Date).toLocaleDateString("nb", {
                    day: "2-digit",
                    month: "long",
                    year: "numeric",
                })
            }
        </span>
    </div>

    <slot />
</BaseLayout>

<style>
    .post-header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    .publishingDate {
        display: inline-flex;
        font-family: var(--font-display);
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-size: 0.75rem;
        color: var(--accent-secondary);
        margin-bottom: 1rem;
    }
</style>
